# Dataframes Sandbox

In [41]:
import pandas as pd

csv_file = 'Products.csv'
df_products = pd.read_csv(csv_file, lineterminator='\n')
'''1. Take root category and put it in new column'''
df_products['root category'] = df_products['category'].apply(lambda x: x.split(' / ')[1])
df_categories = df_products
df_categories.info()
#df_products = df_products['root category']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7156 entries, 0 to 7155
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           7156 non-null   int64
 1   id                   7156 non-null   object
 2   product_name         7156 non-null   object
 3   category             7156 non-null   object
 4   product_description  7156 non-null   object
 5   price                7156 non-null   object
 6   location             7156 non-null   object
 7   root category        7156 non-null   object
dtypes: int64(1), object(7)
memory usage: 447.4+ KB

In [31]:
'''Take the "root category" column and convert it to a set, to remove duplicates'''
category_series = df_products['root category']
category_set = set(category_series)
print(len(category_set))

115

In [32]:
encoder = {val: idx + 1 for idx, val in enumerate(category_set)}
print(encoder)

{'Health & Beauty Appliances': 1, "Men's Watches": 2, 'Power Tools': 3, 'Massage Products': 4, 'Tumble Dryers': 5, 'Changing': 6, 'Luggage & Travel Equipment': 7, 'Boxing & Martial Arts Equipment': 8, 'Integrated Appliances': 9, 'Other Sports & Leisure': 10, 'Hair Care & Styling': 11, 'Baby Clothes': 12, 'Doors & Windows': 13, 'Plumbing & Central Heating': 14, 'Bath & Body': 15, 'Fragrances': 16, 'Supplies, Equipment & Stationery': 17, 'Shaving & Hair Removal': 18, 'Watches': 19, 'Other Household Goods': 20, 'Water Sports': 21, 'Home Appliances': 22, 'Ovens, Hobs & Cookers': 23, 'Retail & Shop Fittings': 24, 'Video Game Accessories': 25, 'Mobility, Disability & Medical': 26, 'Wedding Clothes & Accessories': 27, 'Screws & Fixings': 28, 'Hobbies, Interests & Collectibles': 29, 'Make Up & Cosmetics': 30, 'Building Materials': 31, 'Mobile Phone Accessories': 32, 'SIM Cards': 33, 'Bicycles': 34, 'Facial Skin Care': 35, 'Computers, Laptops & Netbooks': 36, 'Washing Machines': 37, 'Smart Watch': 38, 'Washer Dryers': 39, 'Jewellery': 40, 'Tool Storage & Workbenches': 41, 'Dishwashers': 42, 'Diet & Weight Loss': 43, 'Sun Care & Tanning': 44, 'Business For Sale': 45, "Women's Shoes": 46, "Men's Shoes & Boots": 47, 'Fitness & Gym Equipment': 48, 'Dining, Living Room Furniture': 49, 'Refrigerators': 50, 'Health Care': 51, "Nursery & Children's Furniture": 52, 'Other': 53, 'Scrapbooking, Sewing, Art, Craft': 54, 'Manicure & Pedicure': 55, 'Baby & Child Safety': 56, 'Electric scooters': 57, 'Kids Clothes, Shoes & Accessories': 58, 'Outdoor Toys': 59, 'Protective Clothing & Workwear': 60, 'Car Seats & Baby Carriers': 61, 'Inline Skates & Skateboards': 62, 'Hand Tools': 63, 'Garden Power Tools': 64, 'Freezers': 65, 'Games & Board Games': 66, 'Camping & Hiking': 67, 'Winter Sports': 68, 'Antiques': 69, 'Health & Beauty': 70, 'Bicycle Accessories': 71, 'Drones': 72, 'Golf Equipment': 73, "Men's Accessories": 74, 'Tattoo & Body Art': 75, 'Radio Communication Equipment': 76, 'Other Video Games & Consoles': 77, 'Sunglasses': 78, 'Other Music, Films, Books & Games': 79, 'Prams & Strollers': 80, 'Toys': 81, 'Vitamins & Supplements': 82, 'Other Appliances': 83, 'Music': 84, 'Ladders & Handtrucks': 85, 'Bathroom Fixtures': 86, 'Feeding': 87, 'Aquariums': 88, 'Films & TV': 89, 'Office Furniture': 90, 'Fishing Equipment': 91, 'Gaming Merchandise': 92, 'Mobile Phones': 93, "Men's Clothing": 94, 'Games': 95, 'Garden & Patio': 96, 'Scooters': 97, 'Beds & Bedroom Furniture': 98, "Women's Accessories": 99, 'Restaurant & Catering Equipment': 100, 'Packaging & Mailing Supplies': 101, 'Books, Comics & Magazines': 102, 'Home Phones & Answering Machines': 103, 'Ball & Racquet Sport Equipment': 104, 'Kitchenware & Accessories': 105, 'Garden Hand Tools': 106, 'Consoles': 107, 'Small Appliances': 108, 'Wood & Timber': 109, 'Dental Care': 110, 'Baby Bouncers, Rockers & Swings': 111, 'Software': 112, 'Electric bikes': 113, 'Fridge Freezers': 114, "Women's Clothing": 115}

In [56]:
'''I have to rename the column "id" in df_categories to "product_id" 
to match up with the data in df_images, so I can merge the dataframes'''

df_categories.rename(columns={'id': 'product_id'}, inplace=True)
#df_categories.info()
print(df_categories.columns.tolist())

['Unnamed: 0', 'product_id', 'product_name', 'category', 'product_description', 'price', 'location', 'root category']

In [64]:
#df_products = pd.read_csv('Products.csv', lineterminator='\n')
df_images = pd.read_csv('Images.csv')
print(df_images.columns.tolist())
#df_categories.info()
merged_df = pd.merge(df_categories, df_images, on='product_id')

merged_df.info()

['Unnamed: 0', 'id', 'product_id']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12604 entries, 0 to 12603
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0_x         12604 non-null  int64
 1   product_id           12604 non-null  object
 2   product_name         12604 non-null  object
 3   category             12604 non-null  object
 4   product_description  12604 non-null  object
 5   price                12604 non-null  object
 6   location             12604 non-null  object
 7   root category        12604 non-null  object
 8   Unnamed: 0_y         12604 non-null  int64
 9   id                   12604 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.1+ MB

In [71]:
'''This code removes the irrelevant columns and creates new dataframe with just product_id, root category and image id'''
training_data_df = merged_df.drop(['product_id', 'product_name', 'category', 'product_description', 'price', 'location', 'Unnamed: 0_y'], axis=1)
#training_data_df.info()
#print(training_data_df)
training_data_df.info()
training_data_df.to_csv('training_data.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12604 entries, 0 to 12603
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0_x   12604 non-null  int64
 1   root category  12604 non-null  object
 2   id             12604 non-null  object
dtypes: int64(1), object(2)
memory usage: 651.9+ KB

In [4]:
from PIL import Image
import os

#image_a = "images_fb/00a13f7d-b1ef-4754-8a99-3bebdf4604bb.jpg"
path = "images_fb/"
dirs = os.listdir(path)

for n, item in enumerate(dirs[:10], 1):
        im = Image.open('images_fb/' + item)
        print('size of image: ', im.size)
        im.close()

size of image:  (800, 600)
size of image:  (750, 1020)
size of image:  (389, 800)
size of image:  (768, 1024)
size of image:  (600, 800)
size of image:  (1024, 686)
size of image:  (1024, 768)
size of image:  (576, 1024)
size of image:  (600, 800)
size of image:  (1024, 768)